{% extends "base.html" %}

{% block content %}
<div id="agenda">
	<div class="header">
		<div class="date"></div>
		<div class="add-item button button-big">Add item</div>
		<div class="start-time">
			<div class="label">day start</div>
			<div class="display-time">7:00 am</div>					
		</div>
	</div>

	<div class="items">
		{% for item in agenda.item_set.all %}
		{% endfor %}
	</div>
</div>

<!-- Templates --> 

<script type="text/template" id="item-template"> 
	<div class="info">
		<div class="time start-time">
			<div class="label">start</div>
			<div class="restriction">
				<div class="type">
					<div class="fixed">
						<input type="checkbox" />at
					</div>
					<div class="range">
						<input type="checkbox" />after
					</div>
				</div>
				<div class="restriction-time">whenever</div>
			</div>
			<div class="display-time"></div>
		</div>
		<div class="duration">
			<div class="length"><%= durationToText(duration) %></div>
		</div>
		<div class="time end-time">
			<div class="label">end</div>
			<div class="restriction">
				<div class="type">
					<div class="range">
						<input type="checkbox" />before
					</div>
				</div>
				<div class="restriction-time">whenever</div>
			</div>
			<div class="display-time"></div>
		</div>
	</div>
	<div class="controls">
		<div class="delete button button-small">delete</div>
		<div class="edit button button-small">edit</div>
		<div class="edit-done button button-small">done</div>
		<div class="add button button-small">add after</div>
	</div>
	<div class="name"><%= name %></div>
	<div class="clear"></div>
</script> 

<script type="text/template" id="free-time-template"> 
	<div class="info">
		<div class="duration">
			<div class="length"><%= durationToText(duration) %></div>
		</div>
	</div>
	<div class="name">free time</div>
	<div class="clear"></div>
</script> 
{% endblock content %}

{% block scripts %}

{% load compress %}
{% compress js %}
<script src="/static/js/controllers/agenda.js"></script>
<script src="/static/js/models/item.js"></script>
<script src="/static/js/models/item_collection.js"></script>
<script src="/static/js/models/agenda.js"></script>
<script src="/static/js/views/item.js"></script>
<script src="/static/js/views/free_time.js"></script>
<script src="/static/js/views/item_collection.js"></script>
<script src="/static/js/views/agenda.js"></script>

<script src="/static/js/script.js"></script>
{% endcompress %}

{% endblock scripts %}