/* --------------------------------------------------------------

   layout.css
   * Sets up site-specific layout styles

-------------------------------------------------------------- */

/* Divs
-------------------------------------------------------------- */

#container {
    margin: 0 auto;
    width: 750px;
}

#header {
    padding: 0;
    margin: .5em;
    padding-bottom: 0.2em;
	position: relative;
	height: 2em;
    border-bottom: 1px solid #aaa;
}

#footer {
    margin: .5em;
    padding-top: .5em;
    text-align: center;
    border-top: 1px solid #aaa;
}

#sitename {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align: left;
	position: absolute;
	left: 0;
	bottom: 0;
    margin-bottom: 0;
}

#sitename h3 {
    margin: 0;
}

#sitename a {
    color: #444;
}

#sitenav {
    text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 7px;
}

#sitenav ul {
    margin: 0;
    list-style-type: none;
}

#sitenav li {
    display: inline;
    margin-left: .2em;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

#sitenav a {
    padding: 0.2em;
}

#sitenav .selected a {
	color: black;
	font-weight: bold;
}

#splash{
	text-align: center;
}

#splash h1{
	color: #333;
    font-family: 'Crimson Text', serif;
    font-size: 3em;
}

#content {
    margin: .5em;
    margin-top: 1em;
}

#footer p{
    font-style:italic;
    font-size: 1em;
}

#molds {
    display: none;
}

.preset-data {
	display: none;
}

/*
 * (Start) Agenda
 */

.agenda {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
}

.agenda .label {
    display: none;
    position: absolute;
    left: -120px;
    width: 100px;
    text-align: right;
}

.agenda > .body {
    font-size: 1.2em;
}

.agenda > .header {
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.agenda > .header > .date {
    font-size: 3em;
    margin-bottom: 5px;
}

.agenda > .header > .add-item {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.agenda > .header > .start-time > .time {
    color: #555;
    font-size: .9em;
}

.agenda > .header > .start-time > .time > input {
    width: 70px;   
}

.agenda > .body {
    min-height: 30px;
}

.agenda > .body > .item {
    position: relative;
    min-height: 90px;
    margin-bottom: 5px;
}

.agenda > .body > .conflict {
    background-color: #F08080;
}

.agenda > .body > .item > .data {
    display: none;
}

.agenda > .body > .item > .info {
    float: left;
    width: 140px;
    margin: 0;
    text-align: right;
}

.agenda > .body > .item > .info > .time {
    position: absolute;
    width: 140px;
    min-height: 32px;
}

.agenda > .body > .item > .info > .start-time {
    top: 0;
}

.agenda > .body > .item > .info > .end-time {
    bottom: 0;
}

.agenda > .body > .item > .info > .time > .restriction,
.agenda > .body > .item > .info > .time > .restriction div,
.agenda > .body > .item > .info > .time > .time {
    display: inline-block;
}

.agenda > .body > .item > .info > .time > .restriction {
    display: none;
}

.agenda > .body > .item > .info > .end-time > .time {
    color: #888;   
}

.agenda > .body > .item > .info > .time > .restriction > .type {
    font-size: .8em;
    width: 60px;
    text-align: left;
}

.agenda > .body > .item > .info > .time > .restriction > .time,
.agenda > .body > .item > .info > .time > .time {
    vertical-align: top;   
    width: 70px;
}

.agenda > .body > .item > .info > .time > .restriction > .time > input {
    width: 70px;
}
    
.agenda > .body > .item > .info > .time > .restriction > .type > div {
    margin-bottom: 2px;
}

.agenda > .body > .item > .info > .time > .restriction > .type > div > input {
    margin-right: 3px;
}

.agenda > .body > .item > .info > .duration {
    display: none;
    position: absolute;
    top: 30px;
    width: 140px;
    margin-bottom: 8px;
}

.agenda > .body > .item > .info > .duration > .length {
    font-size: .9em;
}

.agenda > .body > .item > .info > .duration > .length > select {
    font-size: .9em;
    width: 70px;
}

.agenda > .body > .item > .name {
    height: 100%;
    overflow: hidden;
    vertical-align: top;
    margin-left: 165px;
    margin-right: 35px;
    padding-left: 10px;
    border-left: 1px solid #000;
    font-size: 1.2em;
}

.agenda > .body > .item > .name > input {
    width: 95%;
}

.agenda > .body > .item > .controls {
    display: none;
    position: relative;
    float: right;
    width: 100px;
    height: 100%;
    margin: 0;
    text-align: right;
    font-size: .9em;
}

.agenda > .body > .item > .controls > .edit-done {
    display: none;
}

.agenda > .body > .item > .controls > .add {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*
 * (End) Agenda
 */



#follow-me {
    margin-top: 25px;
}

#share-the-love{
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
}

#share-the-love div{
    display: inline;
}

#share-the-love-text {
    float: left;
}

#share-the-love-text p{
    display: inline;
}

#share-buttons {
    float: right;
}

#disqus_thread{
    margin-top: 25px;
}


.clear {
    clear: both;
}

hr {
    border: 0;
    color: #aaa;
    background-color: #aaa;
    height: 1px;
}