/* --------------------------------------------------------------

   layout.css
   * Sets up site-specific layout styles

-------------------------------------------------------------- */

/* Divs
-------------------------------------------------------------- */

#container {
    margin: 0 auto;
    width: 750px;
}

#header {
    padding: 0;
    margin: .5em;
    padding-bottom: 0.2em;
	position: relative;
	height: 2em;
    border-bottom: 1px solid #aaa;
}

#footer {
    margin: .5em;
    padding-top: .5em;
    text-align: center;
    border-top: 1px solid #aaa;
}

#sitename {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align: left;
	position: absolute;
	left: 0;
	bottom: 0;
    margin-bottom: 0;
}

#sitename h3 {
    margin: 0;
}

#sitename a {
    color: #000;
}

#sitenav {
    text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 7px;
}

#sitenav ul {
    margin: 0;
    list-style-type: none;
}

#sitenav li {
    display: inline;
    margin-left: .2em;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

#sitenav a {
    padding: 0.2em;
}

#sitenav .selected a {
	color: black;
	font-weight: bold;
}

#splash{
	text-align: center;
}

#splash h1{
	color: #333;
    font-family: 'Crimson Text', serif;
    font-size: 3em;
}

#content {
    margin: .5em;
    margin-top: 1em;
}

#footer p{
    font-style:italic;
    font-size: 1em;
}

#molds {
    display: none;
}

.preset-data {
	display: none;
}

/*
 * (Start) Agenda
 */

.agenda {
    display: block;
    width: 100%;
    margin: auto;
}

.agenda > .data {
   display: none;
}

.agenda > .body {
    font-size: 1.2em;
}

.agenda > .body > .chunk {
   position: relative;
}

.agenda > .body > .chunk > .header {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.agenda > .body > .chunk > .header > .time {
    color: #555;
    font-size: .9em;
}

.agenda > .body > .chunk > .header > .time > input {
    width: 70px;   
}

.agenda > .body > .chunk > .header > .controls {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
}

.agenda > .body > .chunk > .data {
    display: none;
}

.agenda > .body > .chunk > .body {
    min-height: 30px;
}

.agenda > .body > .chunk > .body > .item {
    position: relative;
    min-height: 60px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.agenda > .body > .chunk > .body > .item > .data {
    display: none;
}

.agenda > .body > .chunk > .body > .item > .info {
    float: left;
    width: 70px;
    margin: 0;
    text-align: right;
}

.agenda > .body > .chunk > .body > .item > .info > .time > input {
    width: 70px;
}

.agenda > .body > .chunk > .body > .item > .info > .duration, .fixed {
    font-size: .9em;
}

.agenda > .body > .chunk > .body > .item > .info > .duration {
    margin-bottom: 5px;
}

.agenda > .body > .chunk > .body > .item > .info > .duration > select {
    font-size: .9em;
    width: 70px;
}

.agenda > .body > .chunk > .body > .item > .info > .fixed {
    display: none;
    font-style: italic;
}

.agenda > .body > .chunk > .body > .item > .info > .fixed div {
    display: inline;
}

.agenda > .body > .chunk > .body > .item > .info > .fixed > .control > input {
    top: 0;
}

.agenda > .body > .chunk > .body > .item > .name {
    height: 100%;
    overflow: hidden;
    vertical-align: top;
    margin-left: 85px;
    margin-right: 35px;
    padding-left: 10px;
    border-left: 1px solid #000;
    font-size: 1.2em;
}

.agenda > .body > .chunk > .body > .item > .name > input {
    width: 95%;
}

.agenda > .body > .chunk > .body > .item > .controls {
    display: none;
    float: right;
    width: 20px;
    margin: 0;
}

.agenda > .body > .chunk > .body > .item > .add-chunk {
    display: none;
    position: absolute;   
    width: 100%;
    border-bottom: 1px dotted #666;
    bottom: 0;
    text-align: center;
    font-size: .8em;
}

/*
 * (End) Agenda
 */



#follow-me {
    margin-top: 25px;
}

#share-the-love{
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
}

#share-the-love div{
    display: inline;
}

#share-the-love-text {
    float: left;
}

#share-the-love-text p{
    display: inline;
}

#share-buttons {
    float: right;
}

#disqus_thread{
    margin-top: 25px;
}


.clear {
    clear: both;
}

hr {
    border: 0;
    color: #aaa;
    background-color: #aaa;
    height: 1px;
}