/* --------------------------------------------------------------

	uielements.css
	* Gives classes to create UI elements rapidly

-------------------------------------------------------------- */

/*	Buttons
-------------------------------------------------------------- */

.button-big {
	display:inline-block;
	width:170px;
	height:40px;
	font-size:1.8em;
	text-align:center;
	color:#555;
	
	background: #eee; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eee,  #ccc); /* for firefox 3.6+ */ 
	
	line-height:40px;
	text-shadow:none;
	padding:0 0 0 0;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}