/* --------------------------------------------------------------

	uielements.css
	* Gives classes to create UI elements rapidly

-------------------------------------------------------------- */

/*	Buttons
-------------------------------------------------------------- */

.button-big {
	display:inline-block;
	width:170px;
	height:40px;
	font-size:1.8em;
	text-align:center;
	color:#555;
	
	background: #eee; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #ddd); /* for firefox 3.6+ */ 
	
	line-height:40px;
	text-shadow:none;
	padding:0 0 0 0;
	
	border: 1px solid #000;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}