{% extends "base.html" %}

{% block content %}
<div id="headline">
	<h1>Timeslot makes planning your day <br> a <em>breeze</em>.</h1>
</div>
<div id="description">
	<a href="/accounts/register"><button class="button-big button-important">Get Started &raquo;</button></a>
	<h4>
		Simply add items to your day's agenda, and specify how long each will take. Timeslot will automatically generate start and end times for each item, so when you have to make a change, your entire agenda will update to flow around it.
	</h4>
	<h4 class="tagline">
		Your day is constantly in flux, and planning it can be a pain.<br>
		Shape it to your liking without even trying.
	</h4>
</div>
<div id="gallery">
	<div id="slides">
		<div class="slide"><img src="/static/img/sample_slides/macbook.jpg" width="690" height="300" /></div>
		<div class="slide"><img src="/static/img/sample_slides/iphone.jpg" width="690" height="300" /></div>
		<div class="slide"><img src="/static/img/sample_slides/imac.jpg" width="690" height="300" /></div>
	</div>
	<div id="menu">
		<ul>
			<li class="fbar">&nbsp;</li>
			<li class="menuItem"><a href=""><img src="/static/img/sample_slides/thumb_macbook.png" /></a></li>
			<li class="menuItem"><a href=""><img src="/static/img/sample_slides/thumb_iphone.png" /></a></li>
			<li class="menuItem"><a href=""><img src="/static/img/sample_slides/thumb_imac.png" /></a></li>
		</ul>
	</div>
</div>
<hr>
<div id="features">
	<div class="feature feature-A">
		<div class="text">
			<h3>Adding items is quick and easy</h3>
			<p>You can add and edit items all on the same page, and the only fields you have to set are the name and duration. Everything else is optional.</p>
		</div>
		<div class="feature-image">
			<img src="/static/img/sample_slides/iphone.jpg" width="530" height="230" />
		</div>
	</div>
	<hr>
	<div class="feature feature-B">
		<div class="text">
			<h3>Setting time constraints is intuitive</h3>
			<p>You can make an item appear on your agenda<br> at / after / before a certain time. Timeslot will honor the constraints you set and organize items around them.</p>
		</div>
		<div class="feature-image">
			<img src="/static/img/sample_slides/imac.jpg" width="530" height="230" />
		</div>
	</div>
	<hr>
	<div class="feature feature-A">
		<div class="text">
			<h3>Reorder with drag and drop</h3>
			<p>Prioritize items in your agenda simply by dragging them around.</p>
		</div>
		<div class="feature-image">
			<img src="/static/img/sample_slides/imac.jpg" width="530" height="230" />
		</div>
	</div>
	<hr>
	<div class="feature feature-B">
		<div class="text">
			<h3>Plan ahead, look behind</h3>
			<p>You can edit the agenda of any day in the calendar, in the future or the past, and it will always be available when you log back in.</p>
		</div>
		<div class="feature-image">
			<img src="/static/img/sample_slides/iphone.jpg" width="530" height="230" />
		</div>
	</div>
	<hr>
	<div class="feature feature-A">
		<div class="text">
			<h3>Visualize your free time</h3>
			<p>Timeslot makes it easy to see when you have empty space in your agenda so you can accordingly fill it with items as you need.</p>
		</div>
		<div class="feature-image">
			<img src="/static/img/sample_slides/iphone.jpg" width="530" height="230" />
		</div>
	</div>
</div>
{% endblock content %}

{% block scripts %}

{% load compress %}
{% compress js %}
<script src="/static/js/slideshow.js"></script>
{% endcompress %}

{% endblock scripts %}